<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form class = "submission-form" action="/upload" method="post" style="display: grid; gap: 3rem;  grid-template-columns: auto 1fr;" enctype="multipart/form-data">
        <label for="file">Upload File</label>
        <img src="564752.png" width="200px" height="200px" onclick="openFileExplorer()">
        <input type="file"  id="file" name="file" style="display:none">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" >
        <button style="grid-column: span 2;" type="submit">Share</button>
    </form>
    <img src="image5.svg">
    <% if (locals.fileLink != null ){%>
        <div style="margin-bottom: 1rem;">
            Your file is uploaded
            <a href="<%= locals.fileLink %>"><%= locals.fileLink%></a>
        </div>
    <% } %>
    <script>
        function openFileExplorer(){
            document.getElementById("file").click();
        }
    </script>
</body>
</html>