<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing</title>
    <!-- <link rel="stylesheet" href="style_2.css"> -->
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <h1>File Sharing App</h1>
    </header>
    <div class="container">
        <form method="post" class="submission-form" style="width: 500px;">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" >
            <% if (locals.error ){%>
                <div style="color: red;">
                    Incorrect Password
                </div>
            <% } %>
            <button type="submit" class="download-btn">Download</button>
        </form>
        <img src="../image.svg">
    </div>
</body>
</html>